[Unit]
Description=One-way Active Measurement (OWAMP) Exporter
Documentation=https://github.com/welterde/owamp-exporter
After=network.target

[Service]
Restart=always
EnvironmentFile=/etc/default/owamp_exporter
ExecStart=/usr/bin/owamp-exporter $ARGS
TimeoutStopSec=20s

# Extra security hardening options
# See systemd.exec(5) for more information regarding these options.

# Empty because owamp-exporter does not require any special capability. See capabilities(7) for more information.
CapabilityBoundingSet=
DynamicUser=true
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
PrivateUsers=true
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallArchitectures=native
SystemCallErrorNumber=EPERM
SystemCallFilter=@system-service
UMask=077

# See systemd.resource-control(5) for more information
#IPAddressAllow=127.0.0.0/8
#IPAddressDeny=any # the allow-list is evaluated before the deny list. Since the default is to allow, we need to deny everything.

[Install]
WantedBy=multi-user.target